/*Designed and Coded by Udam Liyanage for Mind Labs. 2017*/
@import "https://fonts.googleapis.com/css?family=Montserrat";
@import url('https://fonts.googleapis.com/css?family=Courgette');
@import url('https://fonts.googleapis.com/css?family=Handlee');
@import url('https://fonts.googleapis.com/css?family=Raleway');

.navbar{
    height: 100px;
    width: 100%;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    margin-right: 20px;
    margin-top: 25px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    position: absolute;
    top: 15;
    right: 0;
}

.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
}

.button1:hover {
    background-color: #4CAF50;
    color: white;
}

.header h3{
 font-family: 'Montserrat', sans-serif;
 font-size:50px;
 text-align:center;
 letter-spacing:10px;
 margin-top:200px;
}

.quote-container{
    width: 100%;
    height: 200px;
}

.quote-container .quote{
    font-family: 'Courgette', cursive;
    font-size: 25px;
    margin: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.quote-container .author{

    font-family: 'Handlee', cursive;
    font-size: 25px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    display: block;
}

.contribute p{
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    margin: 0;
    position: absolute;
    top: 65%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.contribute a{
    color: #000000;
    text-decoration: none;
}